@model IEnumerable<ComputerStore.Application.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "ProductList";
}

<h1>All Products</h1>


<div class="container">
    <div class="row">

        @foreach (var p in Model)
        {
            <partial name="ProductPartial" model="p" />
        }
    </div>
</div>